@font-face {
    font-family: 'Futura Lt BT';
    src: url('./assets/font/FuturaBT-Light.woff2') format('woff2'),
        url('./assets/font/FuturaBT-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Futura Md BT';
    src: url('./assets/font/FuturaBT-Medium.woff2') format('woff2'),
        url('./assets/font/FuturaBT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1230px;
    min-width: 1230px;
}

.main_header_section {
    /* background-color: #ffffff; */
    height: 80px;
    /* box-shadow: 0px 0px 7px rgb(212, 212, 212); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
}

.header_left img {
    height: 65px;
}

.header_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_left h2 {
    font-family: 'Futura Md BT';
    font-size: 35px;
    margin: 0;
    color: #002b58;
    letter-spacing: 0.56px;
}

.header_menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header_menu li {
    list-style: none;
    margin: 0px 10px;
    padding: 3px 5px;
}

.header_menu li a {
    font-family: 'Futura Md BT';
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
}

.is-sticky .header_menu li a {
    color: #002b58 !important;
}

.header_menu li a:hover {
    color: #ef3016 !important;
    text-decoration: none;
}

.header_menu li a::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #ef3016;
    transition: width .3s;
}

.all_section_box .activeMenu {
    border: none !important;
}

.activeMenu {
    transition: width .3s;
    border-bottom: 2px solid #ef3016;
    color: #ef3016 !important;
}

.header_menu li a:hover::after {
    width: 100%;
}

.sub_heading_box {
    margin-bottom: 40px;
}

.sub_heading {
    font-family: 'Futura Md BT';
    font-size: 30px;
    margin: 0;
    color: #002b58;
    margin-bottom: 20px;
    font-weight: 600;
}

.heading_border {
    border-bottom: 3px solid #ef3016;
    padding-bottom: 10px;
}

.sub_text {
    font-family: 'Futura Lt BT';
    font-size: 20px;
    margin: 0;
    color: #002b58;
}

.header-sticky.is-sticky {
    position: fixed;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    backdrop-filter: blur(10px);
    background-color: #fff;
    animation: slideDown 0.35s ease-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.hide_img{
    display: none;
}

.is-sticky .hide_img{
    display: block;
}

.is-sticky .show_img{
    display: none
}

/* home_main_section **********************/


.home_main_section {
    width: 100%;
    height: 730px;
    background-color: #002b58;
    /* padding-top: 60px; */
    display: flex;
    align-items: center;
}

.home_left_section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.text_animation_box {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.text_animation_box span {
    display: none;
}

.iam_text {
    color: #ffffff;
    font-family: 'Futura Md BT';
    font-size: 26px;
    padding-right: 10px;
}

.text_animation {
    color: rgb(255, 255, 255);
    border-right: 2px solid #ffffff;
    color: #ffffff;
    font-family: 'Futura Md BT';
    font-size: 22px;
    line-height: 24px;
}

.home_right_section img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    position: relative;
    top: 0;
}

.home_right_section img:hover{
    top: -15px;
}

.home_left_section div h3 {
    font-family: 'Futura Md BT';
    font-size: 25px;
    color: #ffffff;
    margin: 0;
}

.home_left_section div h1 {
    font-family: 'Futura Md BT';
    font-size: 50px;
    letter-spacing: 0.56px;
    color: #ffffff;
    margin: 15px 0px 10px 0px;
    font-weight: 700;
}

.myWork_btn {
    font-family: 'Futura Md BT';
    font-size: 18px;
    background-color: #002b58;
    padding: 12px 30px;
    text-transform: uppercase;
    color: #fff;
    margin-right: 20px;
    border: 1.5px solid #002b58;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    top: 0;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
}

.myWork_btn:hover {
    background-color: #ffffff;
    color: #002b58 !important;
    text-decoration: none;
    border: 1.5px solid #002b58;
    top: -5px;
}

.contact_btn {
    font-family: 'Futura Md BT';
    font-size: 18px;
    /* background-color: #ef3016; */
    padding: 12px 30px;
    text-transform: uppercase;
    color: #ffffff;
    border: 1.5px solid #ffffff;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    top: 0;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
}

.contact_btn:hover {
    background-color: #ffffff;
    color: #ef3016 !important;
    text-decoration: none;
    border: 1.5px solid #ffffff;
    top: -5px;
}

.text {
    font-family: 'Futura Lt BT';
    font-size: 18px;
    margin-bottom: 40px;
    letter-spacing: 0.56px;
    color: #ffffff;
    line-height: 24px;
}

/* main_about_section *************************************/

.main_about_section {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-bottom: 0;
    padding: 65px 0px 45px 0px;
}


.about_ledt_box {
    background-color: #e8e8e8ef;
    padding: 15px;
    border-radius: 3px;
    position: relative;
}

.about_ledt_box img {
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
}

.about_heading {
    font-family: 'Futura Md BT';
    margin: 20px 0px;
    font-size: 30px;
    color: #2a3855;
    letter-spacing: 0;
}

.about_sub_heading {
    font-family: 'Futura Md BT';
    margin: 0;
    font-size: 18px;
    color: #2a3855;
    margin-bottom: 15px;
}

.about_text {
    font-family: 'Futura Lt BT';
    font-size: 18px;
    margin-bottom: 30px;
    text-align: justify;
    color: #2a3855;
    line-height: 24px;
}

.about_right_section {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.exprience_btn {
    font-family: 'Futura Md BT';
    font-size: 18px;
    color: #fff;
    background-color: #ef3016;
    padding: 12px 25px;
    border: none;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 0.56px;
}


/* main_contact_section **********************/

.main_contact_section {
    background-color: rgb(237 237 237 / 56%);
    width: 100%;
    margin: 40px 0px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 65px 0px 55px 0px;
}

.contact_left_box {
    background-color: #fff;
    padding: 30px 30px 40px 30px;
    border-radius: 6px;
    height: 100%;
}

.contact_left_box h3 {
    font-family: 'Futura Md BT';
    font-size: 22px;
    color: #002b58;
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 0.56px;
}

.input_box input:focus {
    text-decoration: none;
    border-bottom: 2px solid #ef3016 !important;
    border: none;
    box-shadow: none;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.input_box input::placeholder {
    color: #2d2d2d !important;
}

.input_box textarea::placeholder {
    color: #2d2d2d !important;
}

.input_box textarea:focus {
    text-decoration: none;
    border-bottom: 2px solid #ef3016 !important;
    border: none;
    box-shadow: none;
}

.input_box {
    margin-bottom: 30px;
}

.input_box input {
    border: none;
    background-color: #fff;
    box-shadow: none;
    width: 100%;
    height: 40px;
    font-family: 'Futura Md BT';
    font-size: 16px;
    color: #2d2d2d;
    padding: 0 5px;
    border-bottom: 2px solid gray;
}

.input_box textarea {
    border: none;
    background-color: #fff;
    box-shadow: none;
    width: 100%;
    height: 60px;
    font-family: 'Futura Md BT';
    font-size: 16px;
    color: #2d2d2d;
    padding: 0 5px;
    border-bottom: 2px solid gray;
}

.input_box input::placeholder {
    color: #2d2d2d !important;
}

.input_box textarea::placeholder {
    color: #2d2d2d !important;
}

.contact_d_box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact_d_box .contact_icon {
    height: 50px;
    min-width: 50px;
    width: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #d4d4d4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0px;
    font-size: 20px;
    color: #002b58;
}

.contact_d_box .contact_icon:hover{
    border: 2px solid #002b58;
}

.number_box {
    margin-left: 20px;
}

.number_box p {
    font-family: 'Futura Md BT';
    font-size: 18px;
    color: #ef3016;
    margin: 0;
}

.number_box a {
    font-family: 'Futura Md BT';
    font-size: 16px;
    color: #002b58 !important;
    margin: 0;
}

.number_box .location_text {
    font-family: 'Futura Md BT';
    font-size: 16px;
    color: #002b58;
    margin: 0;
    line-height: 22px;
    margin-top: 5px;
}

.number_box a:hover {
    color: #002b58 !important;
    text-decoration: none;
}

.contact_d_box:nth-child(5) {
    margin-bottom: 0;
}

.btn_submit {
    font-family: 'Futura Md BT';
    font-size: 16px;
    color: #fff;
    background-color: #002b58;
    padding: 16px 25px;
    border: none;
    text-decoration: none;
}

.btn_submit i {
    font-size: 18px;
    margin-right: 10px;
}

.btn_submit:hover {
    background-color: #ef3016;
    color: #fff;
    text-decoration: none;
}

/* main_service_section ********************************/

.main_service_section {
    background-color: rgb(237 237 237 / 56%);
    width: 100%;
    margin: 40px 0px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 65px 0px 55px 0px;
}

.service_main_box {
    background-color: #ffffff;
    padding: 40px 30px;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    position: relative;
    top: 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 0px 0px 7px #e7e7e7;
}

.service_img_box {
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    border: 2px dotted #ef3016;
    margin-bottom: 25px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.hide_img {
    display: none;
    height: 60px;
}

.show_img {
    height: 60px;
}

.service_main_box:hover {
    background-color: #002b58;
    top: -10px;
}

.service_main_box:hover .show_img {
    display: none;
}

.service_main_box:hover .hide_img {
    display: block;
}

.service_main_box:hover .service_img_box {
    border: 2px dotted #ffffff;
}

.service_box h3 {
    font-family: 'Futura Md BT';
    font-size: 22px;
    color: #002b58;
}

.service_main_box:hover .service_box h3 {
    color: #fff;
}

.service_box p {
    font-family: 'Futura Lt BT';
    font-size: 18px;
    text-align: justify;
    color: #002b58;
    line-height: 24px;
    margin: 0;
}

.service_main_box:hover .service_box p {
    color: #fff;
}

/* counter_area **********************/

.counter_area {
    position: relative;
    z-index: 1;
    padding: 120px 0;
    text-align: center;
    background: url('./assets/image/counter-bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.counter_area::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #1f1f54;
}

.counter-contents h2 {
    color: #fff;
    font-size: 45px;
    font-family: 'Futura Md BT';
    margin-bottom: 5px;
    word-spacing: -5px;
    font-weight: 700;
}

.counter-contents h3 {
    color: #fff;
    font-size: 20px;
    font-family: 'Futura Md BT';
}

/*chooseUs_section**********************************/

.chooseUs_section{
    background-color: rgb(237 237 237 / 56%);
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.choose-item {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 20px;
    background: #fff;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
    z-index: 1;
    width: 45%;
    margin-right: 20px;
}
.choose-item::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background: linear-gradient(to top left, #65a1fe 0%, #002b58 100%);
    border-radius: 50px;
    top: -10px;
    left: -30px;
    z-index: -1;
}
.choose-item i {
    color: #fff;
    font-weight: 600;
}

.choose-item h6{
    color: #002b58;
    font-size: 18px;
    font-family: 'Futura Md BT';
    margin: 0;
    line-height: 1.2;
}

.services_box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.choose_right_box img{
    width: 100%;
    height: auto;
}

/* testimonials **********************/

.testimonials_section {
    padding: 60px 0px;
}

.testimonial-img {
    width: 90px;
    border-radius: 50px;
    margin-right: 15px;
    transition: 0.3s;
    border: 4px solid #002b58;
}

.testimonial-img:hover {
    transform: scale(1.1);
}

.inner_section {
    position: relative;
    width: 65% !important;
    overflow: hidden;
    margin: auto;
    text-align: center;
    padding: 20px 20px 0px 20px;
}

.client_image {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

.client_name .fa-star {
    color: #ffce39;
    font-size: 18px;
}

.client_name h3 {
    color: #002b58;
    font-size: 20px;
    font-family: 'Futura Md BT';
    font-weight: 700;
    margin-bottom: 5px;
}

.client_name h4 {
    color: #002b58;
    font-size: 18px;
    font-family: 'Futura Md BT';
    margin: 10px 0px;
}

.client_name {
    text-align: left;
    margin-left: 10px;
}

.testimonial_text {
    font-family: 'Futura Lt BT';
    font-size: 18px;
    text-align: center;
    color: #2a3855;
    line-height: 26px;
}

.testimonial_text .quote_last {
    color: #285fd0;
    font-size: 18px;
    margin-left: 10px;
}

.testimonial_text .quote_first {
    color: #285fd0;
    font-size: 18px;
    margin-right: 10px;
}

.arrow_right {
    transform: rotate(180deg);
    height: 35px;
}

.arrow_left {
    height: 35px;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1 !important;
}

/* faq_section **********************/

.faq_section {
    background-color: rgb(237 237 237 / 56%);
    width: 100%;
    padding: 65px 0px 55px 0px;
}

.faq_accordion{
    width: 80%;
    margin: auto;
}


#main #faq .card {
    margin-bottom: 20px;
    border: 0;
}

#main #faq .card .card-header {
    border: 0;
    -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    border-radius: 2px;
    padding: 0;
}

#main #faq .card .card-header .faq_heading {
    color: #fff;
    display: block;
    text-align: left;
    background: #002b58;
    color: #ffffff;
    padding: 20px;
    font-family: 'Futura Md BT';
    font-size: 20px;
    font-weight: 500;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#main #faq .card .card-header .faq_heading:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
}

.faq_heading:hover{
    text-decoration: none;
}

#main #faq .card .card-header .faq_heading.collapsed {
    background: #002b58;
    color: #fff;
    border-radius: 6px;
}

#main #faq .card .card-header .faq_heading.collapsed:after {
    content: "\f106";
}

#main #faq .card .collapsing {
    background: #002b58;
    line-height: 30px;
}

#main #faq .card .collapse {
    border: 0;
}

#main #faq .card .collapse.show {
    background: #002b58;
    line-height: 30px;
    color: #ffffff;
}

.faq_text {
    font-family: 'Futura Lt BT';
    font-size: 18px;
    text-align: justify;
    color: #ffffff;
    line-height: 26px;
    margin: 0;
}


/* our_team **********************/

.our_team{
    padding: 60px 0;
}

.team_box{
    background-color: rgb(255 255 255);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 6px #cbcbcb;
    position: relative;
    top: 0;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
}

.team_box:hover{
    top: -10px;
}

.team_box img{
    width: 100%;
    border-radius: 8px;
}

.team_box h3{
    margin-top: 16px;
    margin-bottom: 2px;
    font-size: 22px;
    font-family: 'Futura Md BT';
    color: #002b58;
    font-weight: 600;
}

.team_box p{
    font-size: 18px;
    font-family: 'Futura Md BT';
    color: #002b58;
}

.social_media .fa{
    font: normal normal normal 14px / 1 FontAwesome !important;
}

.social_media{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_media .social_icon{
    transition: 0.3s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #e1e1e1;
    color: #002b58;
    margin-right: 13px;
    cursor: pointer;
}
.social_media .social_icon:hover{
    transform: scale(1.1);
    border: 2px solid #002b58;
}

/* footer_section **********************/

.footer_section {
    padding: 60px 0px;
    background-color: #002b58;
}

.footer_icon {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.footer_left_icon {
    margin-right: 15px;
}

.footer_left_icon img {
    height: 34px;
}

.footer_left_text {
    font-family: 'Futura Md BT';
    font-size: 18px;
    color: #ffffff;
    margin: 20px 0px;
    line-height: 30px;
    padding-right: 60px;
}

.footer_center_box h3 {
    font-family: 'Futura Md BT';
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin: 0;
}

.footer_right_box h3 {
    font-family: 'Futura Md BT';
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin: 0;
}

.footer_menu {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.footer_menu li {
    list-style: none;
    margin-bottom: 10px;
}

.footer_menu li a {
    display: flex;
    align-items: center;
    font-family: 'Futura Md BT';
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    line-height: 22px;
    transition: 0.4s;
    padding: 5px 3px;
}

.footer_menu li p {
    display: flex;
    align-items: center;
    font-family: 'Futura Md BT';
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    line-height: 22px;
    padding: 5px 3px;
}

.footer_menu li a .footer_arrow {
    font-size: 16px;
    margin-right: 10px;
}

.footer_menu li a .footer_right_icon {
    font-size: 16px;
    margin-right: 15px;
}

.footer_menu li p .footer_right_icon {
    font-size: 22px;
    margin-right: 15px;
}

.footer_menu li a:hover {
    color: #ef3016 !important;
    text-decoration: none;
    letter-spacing: 1px;
}

.footer_menu li p:hover {
    color: #ef3016 !important;
    text-decoration: none;
}

.footer_img img {
    height: 75px;
}

.contact_d_box .fa-phone{
    transform: rotate(100deg);
}
.footer_menu .fa-phone{
    transform: rotate(100deg);
}
